@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: #00ffff;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu  li {
    list-style: none;
  
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
}

.menu li:hover a{
  background-color: #00ffff;
  color: #191c32;
}

.menu .active {
  color: #00ffff;
 
}


.menu li a:hover {
  color: #66E7C8;
}
  
.menu-icon img{
    width: 35px;
    height: 35px;
    border-radius: 2px;
}

.menu-icon, #check{
    display: none;
}

/* Styles Social Bar */

.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: #ffffff;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-whatsapp{
  background: #1cca5f;
}

.icon-twitter {
	background: #339DC5;
}

.icon-linkedin{
	background: #424663;
}

.icon-instagram {
	background: #c13a3a;
}

.icon-mail2{
  background: #43afdd;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem #0000006b;
}

/* Styles Main */

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
  }
  
  h1 {
    font-size: 3em;
  }
  
  .info-content span {
    color: #00ffff;
  }
  
  .download-cv,
  .download-cv2 {
    padding: 10px 20px;
    background-color: #00ffff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px #66e7c8b0;
    -moz-box-shadow: 1px 3px 11px -5px #66e7c8b0;
    box-shadow: 1px 3px 11px -5px #66e7c8b0;
  }
  
  .download-cv:hover {
    background-color: #f0ffff;
    box-shadow: none;
  }
  
  .main img {
    border:  7px solid #00ffff;
    width: 431px;
    height: 461px;
    z-index: 1;
  }

  /* About Styles */

.about {
  width: 100vw;
  height: 100vh;
  align-items: center;
  margin-top: 30px;
  
}

.about img {
  width: 100%;
  grid-column: 1/5;
}

.about-info {
  grid-column: 5/10;
  padding: 3em;
}

.about-info h2 {
  font-size: 2em;
  color: #191c32;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #00ffff;
  margin-top: 5px;
  margin-bottom: 2em;
}

.about p {
  font-weight: 600;
  color: #000000;  
  margin-bottom: 1em;
}

.portfolio,
.contact-section {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #ffffff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 600px;
  margin-right: 15px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #00ffff;
}



.portfolio,
.contact-section {
  width: 100vw;
  background-color: #191c32;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/2-original.png);
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}
.form-group textarea {
  height: 150px;
  padding: 1.5em;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.form-group .input {
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.form-group .btn-submit {
  padding: 10px 20px;
  margin: 1em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  background-color: #00ffff;
}

.content {
  width: 100% auto;
  height: 100vh;
  background: #ffffff;
  color: #181818;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
 
}

.content ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
  color: #191c32;
  margin-top: 38px;
  margin-bottom: 41px;
}

.logo span {
  color: #0fabab;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form input{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #181818;
    border-bottom: 1px solid #191c32;
    cursor: pointer;
}

.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #181818;
    border-bottom: 1px solid #191c32;
}

.contact-form form button{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #191c32;
    cursor: pointer;
}

.contact-form form button {
  background: #2b3058;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  cursor: pointer;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #191c32;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}

.contact-info {
  
  float: right;
  background: #2b3058;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.redes-bar{
  display: flex;
  font-size: 30px;
  letter-spacing: 3px;
  justify-content: center;
  padding-right: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

#footer{
    width: 100%;
    height: 140px;
    background-color: #191c32;
    color: #fff;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#footer h2{
    text-align: center;
    justify-content: center;
    color: #fff;
    margin-top: 30px;
    margin-left: 35px;
}

#footer h3{
  text-align: center;
  color: #fff;
  margin-left: 35px;
}

.clearfix{
   clear: both;
}
