/*  Responsive */

@media (max-width: 928px) {
    .check-btn {
        display: block;
    }

    .menu-icon img{
        background: #00ffff;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 24px;
        right: 20px;
        cursor: pointer;
    }

    .menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #191c32;
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .menu ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    
    #check:checked .menu ul{
        left: 0;
    }
}

@media (max-width: 360px){

    .wrapper {
        width: 133vh;
        height: 100vh;
    }
    
    .info-content h1{
        display: flex;
        margin-left: -77px;
        letter-spacing: 2px;
    }

    .info-content p{
        display: flex;
        margin-left: -77px;
        text-align: justify;
    }

    .download-cv {
        margin-left: -77px;
    }

    .social-bar {
        top: 18%;

    }

    .brand {
        margin-left: 15px;
    }

    .main img{
        display: none;
    };

    /* About */

    .about {
            /* display: grid; */
        grid-template-columns: repeat(10, 1fr);
        width: 100vw;
        height: 100vh;
        align-items: center;
        
    }

    .about-info h2 {
        font-size: 2em;
        color: #191c32;
        text-align: justify;
    }
    .divider {
        height: 4px;
        width: 60px;
        background-color: #00ffff;
        margin-top: 5px;
        margin-bottom: 2em;
      }
      
      .about p {
        display: block;
        float: left;
        columns: none;
        color: #181818;  
       
      }
      
    .about img{
       display: none;
    }

   
    .portfolio, .contact-section {
        width: 100%;
        background-color: #191c32;
        color: #fff;
    }

    .project-details-button {
        margin-left: -10px;
    }

    .project-details-button a{
        text-align: justify;
    }
    
}

@media (max-width: 375px) {
    .wrapper {
        width: 133vw;
    }

    .about {
        width: 133vw;
    }

    .portfolio {
        width: 133vw;
    }
    .card {
        width: 136px;
    }

    .card__title h2{
        text-align: center;
        font-size: 17px;
    }

    
}

@media (max-width: 720px) {

    .about-info h2 {
        margin-top: 170px;
    }
}
        